version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    reviewers:
      - "alchemydc"
      - "arya2"
      - "gustavovalverde"
    labels:
      - "dependencies"
      - "rust"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      zebra:
        patterns:
          - "zebra-*"
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
