name: Rust CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Rust
      uses: actions-rust-lang/setup-rust@v1
      
    - name: Format Check
      run: cargo fmt --all -- --check
      
    - name: Clippy Check
      run: cargo clippy -- -D warnings

    - name: Run Tests
      run: cargo test --verbose

    - name: Build
      run: cargo build --verbose
